<%-include('header.ejs')-%>
		<div class="box" id="heading">
			<h1><%= listTitle%></h1>
		</div>
		<div class="box">
			<% listItems.forEach(function(item){ %>
			<form action='/delete' method='POST'>
			<div class="item">
				<input type="checkbox" name="checkbox" value="<%= item._id%>" onchange="this.form.submit()">
				<p><%=item.name %></p> 
			</div>
			</form>
			<% }) %>

			<form class="item" target="/" method="POST">
				<input type="text" name="listItem" required autofocus placeholder="New Item" autocomplete="off">
				<button type="submit" value=<%= listTitle %>>+</button>
			</form>
		</div>
<%-include('footer.ejs')-%>
